name: Release Version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (e.g. 1.2.3)'
        required: true
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}
    # update the manifest.json with the specified version
    - name: Update manifest version
      uses: jossef/action-set-json-field@v1
      with:
        file: manifest.json
        field: version
        value: ${{ github.event.inputs.version }}
    # Commit the manifest.json and create the tag
    - name: Commit manifest
      run: |
        git config --local user.name "GitHub Action"
        git config --local user.email "action@github.com"
        git add -u
        git commit -m "Release ${{ github.event.inputs.version }}"
        git tag -fa ${{ github.event.inputs.version }} -m "${{ github.event.inputs.version }}"
    # push the commit and tag
    - name: Push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        tags: true
        branch: ${{ github.ref }}
